*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4f46e5,#9333ea);
}

.container{
background:white;
padding:45px 50px;
border-radius:18px;
box-shadow:0 20px 40px rgba(0,0,0,0.15);
text-align:center;
width:340px;
transition:0.3s;
}

.container:hover{
transform:translateY(-5px);
}

h1{
font-size:28px;
margin-bottom:25px;
color:#333;
font-weight:600;
}

.counter-box{
font-size:64px;
font-weight:bold;
margin-bottom:30px;
color:#222;
}

.buttons{
display:flex;
gap:10px;
justify-content:center;
}

.btn{
border:none;
padding:10px 18px;
border-radius:8px;
font-size:14px;
font-weight:600;
cursor:pointer;
transition:0.2s;
color:white;
}

.increase{
background:#16a34a;
}

.decrease{
background:#dc2626;
}

.reset{
background:#475569;
}

.btn:hover{
transform:scale(1.07);
opacity:0.9;
}
.subtitle{
color:#666;
margin-bottom:20px;
font-size:14px;
}